@import '../../Common/Styles/Mixins';
@import '../../Common/Styles/Variables';

.notification_wrapper_notification {
  position: absolute;
  left: 20px;
  bottom: 4px;
  min-width: 300px;


  .notification_wrapper_error {
    @include flex(row, flex-start, center, wrap);
    padding: 5px 10px 5px;
    border-radius: 10px;
    background-color: #FFBABA;

    .notification_wrapper_text {
      color: #D8000C;
      @include text($textFontFamily, 15px, 500);
      padding-left: 10px;
    }
  }

  .notification_wrapper_success {
    color: #4F8A10;
    background-color: #DFF2BF;
  }
}



