@import '../../Common/Styles/Mixins';
@import '../../Common/Styles/Variables';

.notification_wrapper_notification {
  position: absolute;
  left: 20px;
  bottom: 15px;
  min-width: 300px;

  .notification_wrapper_error_block, .notification_wrapper_success_block {
    @include flex(row, flex-start, center, wrap);
    border-radius: 10px;
    padding: 5px 10px 5px;

    .notification_wrapper_error_text, .notification_wrapper_success_text {
      @include text($textFontFamily, 15px, 500);
      padding-left: 10px;
    }

    .notification_wrapper_error_text {
      color: #D8000C;
    }

    .notification_wrapper_success_text {
      color: #4F8A10;
    }
  }

  .notification_wrapper_error_block {
    background-color: #FFBABA;
  }

  .notification_wrapper_success_block {
    background-color: #DFF2BF;
  }
}



