.nav {
    background: #fff;
    border: 1px solid #e7e8e9;
    border-radius: 0.5rem;
    overflow: hidden;
    position: fixed;
    padding: 20px;
    float: left;
    width: 20vh;
    height: 40vh;
    top: 100px;
    left: 20px;
    //margin-left: 20px;
    //margin-top: 20px;
}

.item a {
    color: #2305ff;
    text-decoration: none;
}

.item.activeLink {
    color: gold;
}